<form (ngSubmit)="registerForm.valid && register()" [formGroup]="registerForm" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>

    <div class="form-group">
        <input 
            [class.is-invalid]="registerForm.get('username').errors 
                && registerForm.get('username').touched"
            type="text" 
            class="form-control" 
            formControlName="username" 
            placeholder="Username">
            <div class="invalid-feedback">Please enter a username</div>
    </div>

    <div class="form-group mt-3">
        <input 
            [class.is-invalid]="registerForm.get('email').errors 
                && registerForm.get('email').touched"
            type="email" 
            class="form-control" 
            formControlName="email" 
            placeholder="Email">
            <div *ngIf="registerForm.get('email').hasError('required')" 
                class="invalid-feedback">Please enter an email</div>
            <div *ngIf="registerForm.get('email').hasError('email')" 
                class="invalid-feedback">Email must be a valid email address</div>
    </div>

    <div class="form-group mt-3">
        <input 
            [class.is-invalid]="registerForm.get('firstName').errors 
                && registerForm.get('firstName').touched"
            type="text" 
            class="form-control" 
            formControlName="firstName" 
            placeholder="FirstName">
            <div class="invalid-feedback">Please enter your firstname</div>
    </div>

    <div class="form-group mt-3">
        <input 
            [class.is-invalid]="registerForm.get('secondName').errors 
                && registerForm.get('secondName').touched"
            type="text" 
            class="form-control" 
            formControlName="secondName" 
            placeholder="SecondName">
            <div class="invalid-feedback">Please enter your secondname</div>
    </div>

    <div class="form-group mt-3">
        <input 
            [class.is-invalid]="registerForm.get('city').errors 
                && registerForm.get('city').touched"
            type="text" 
            class="form-control" 
            formControlName="city" 
            placeholder="City">
            <div class="invalid-feedback">Please enter your city</div>
    </div>

    <div class="form-group mt-3">
        <input 
            [class.is-invalid]="registerForm.get('password').errors 
                && registerForm.get('password').touched"
            type="password" 
            class="form-control" 
            formControlName="password" 
            placeholder="Password">
            <div *ngIf="registerForm.get('password').hasError('required')" 
                class="invalid-feedback">Please enter a password</div>
            <div *ngIf="registerForm.get('password').hasError('minlength')" 
                class="invalid-feedback">Password must be at least 4 characters</div>
            <div *ngIf="registerForm.get('password').hasError('maxlength')" 
                class="invalid-feedback">Password must be at most 8 characters</div>
    </div>

    <div class="form-group mt-3">
        <input 
            [class.is-invalid]="registerForm.get('confirmPassword').errors 
                && registerForm.get('confirmPassword').touched"
            type="password" 
            class="form-control" 
            formControlName="confirmPassword" 
            placeholder="Confirm Password">
            <div *ngIf="registerForm.get('confirmPassword').hasError('required')" 
                class="invalid-feedback">Please enter a confirm password</div>
            <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" 
                class="invalid-feedback">Confirm password must match password</div>
    </div>
   
    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-group text-center mt-3">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-light me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>